
        <title>MSER Program Director</title>
     
    
        <!-- Header  -->
      <app-header>header .... </app-header>
        <!-- Page Content -->
        <div class="container-fluid">
            <hr>
            <!-- Page Heading -->
            <!-- <div class="row">
               <div class="col-lg-12">
                   <h1 class="page-header">Page Heading
                       <small>Secondary Text</small>
                   </h1>
               </div>
               </div> -->
            <!-- /.row -->
            <!-- Projects Row -->
            <div class="row no-gutter">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><img class="col-xs-4 no-gutter" src="app/resources/images/ph6.png"><label class="pull-right col-xs-8 text-right no-gutter panel-captcha">ENROLLMENT</label></div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text">
                                    <h3>2,035 / 2,635</h3>
                                    <p>Total Dealerships Enrolled</p>
                                </div>
                                <div class="panel-text">
                                    <h3>77%</h3>
                                    <p>Express Lane Validated</p>
                                </div>
                                <div class="panel-text">
                                    <h3>695</h3>
                                    <p>Express Lane Enrolled</p>
                                </div>
                                <div class="panel-text">
                                    <h3>1632 / 2035</h3>
                                    <p>Parts Counter Enrolled</p>
                                </div>
                            </div>
                            <div class="col-xs-6"><img src="app/resources/images/panel1.png" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">Visit Program Site <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><img class="col-xs-4 no-gutter" src="app/resources/images/ph6.png"><label class="pull-right col-xs-8 text-right no-gutter panel-captcha">MVP PLAN SALES&nbsp;&nbsp;<span class="captha-span">(qualifying plans)</span></label></div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text">
                                    <h3>21,536</h3>
                                    <p>Plans Month to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>96,960</h3>
                                    <p>Plans Year to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>$2,852,737</h3>
                                    <p>Earnings YTD</p>
                                </div>
                                <div class="panel-text">
                                    <h3>15,553</h3>
                                    <p>Prior Month Total Plans Sold</p>
                                </div>
                            </div>
                            <div class="col-xs-6"><img src="app/resources/images/panel2.png" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">Visit Program Site <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img class="col-xs-4 no-gutter" src="app/resources/images/ph6.png">
                            <label class="pull-right col-xs-8 text-right no-gutter panel-captcha">
                                WHOLESALE PARTS&nbsp;&nbsp;<span class="captha-span">(qualifying parts)</span></label>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text">
                                    <h3>8,655</h3>
                                    <p>Parts Month to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>5,481</h3>
                                    <p>Parts Year to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>$442,240</h3>
                                    <p>Earnings to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>14,853</h3>
                                    <p>Prior Month Total Parts Sold</p>
                                </div>
                            </div>
                            <div class="col-xs-6"><img src="app/resources/images/panel3.png" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">Visit Program Site <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><img src="app/resources/images/RewardingExcellence.jpg" style="width: 140px;"><label class="pull-right col-xs-8 text-right no-gutter panel-captcha">Rewarding Excellence<sup>®</sup> Visa<sup>®</sup> Prepaid Card!</label></div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text">
                                    <h3>$601,385</h3>
                                    <p>Excellence Card Awards MSER MTD</p>
                                </div>
                                <div class="panel-text">
                                    <h3>$2,815,200</h3>
                                    <p>Excellence Card Awards MSER YTD</p>
                                </div>                                
                            </div>
                            <div class="col-xs-6"><img src="app/resources/images/panel4.png" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">Visit Program Site <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><img src="app/resources/images/Dealer_Site_logo.png" style="width: 25%;"></div>
                        <div class="panel-body">
                            <div class="col-md-6 col-xs-12">
                                <div class="panel-text">
                                    <h3>New marketing tools are now available that will help keep your customers loyal.</h3>
                                </div>
                                <div class="panel-text">
                                    <br>
                                    <h3><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">LEARN MORE <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></h3>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12"><img src="app/resources/images/panel17.png" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">Visit Mopar.Dealer.com <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img class="col-xs-4 no-gutter" src="app/resources/images/ph6.png">
                            <label class="pull-right col-xs-8 text-right no-gutter panel-captcha">
                                MOPAR PART SALES&nbsp;&nbsp;<span class="captha-span">(qualifying parts)</span></label>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text">
                                    <h3>47,325</h3>
                                    <p>Parts Month to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>167,451</h3>
                                    <p>Parts Year to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>$1,671,020</h3>
                                    <p>Earnings YTD</p>
                                </div>
                                <div class="panel-text">
                                    <h3>33,280</h3>
                                    <p>Prior Month Total Parts Sold</p>
                                </div>
                            </div>
                            <div class="col-xs-6"><img src="app/resources/images/panel5.png" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">Visit Program Site <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img class="col-xs-4 no-gutter" src="app/resources/images/ph6.png">
                            <label class="pull-right col-xs-8 text-right no-gutter panel-captcha">
                                MAGNETI MARELLI&nbsp;&nbsp;<span class="captha-span">(qualifying parts)</span></label>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text">
                                    <h3>1,316</h3>
                                    <p>Parts Month to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>6,947</h3>
                                    <p>Parts Year to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>$229,086</h3>
                                    <p>Earnings YTD</p>
                                </div>
                                <div class="panel-text">
                                    <h3>1,281</h3>
                                    <p>Prior Month Total Parts Sold</p>
                                </div>
                            </div>
                            <div class="col-xs-6"><img src="app/resources/images/panel6.png" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">Visit Program Site <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img class="col-xs-4 no-gutter" src="app/resources/images/ph6.png">
                            <label class="pull-right col-xs-8 text-right no-gutter panel-captcha">
                                EXPRESS LANE&nbsp;&nbsp;<span class="captha-span">(qualifying parts)</span></label>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text">
                                    <h3>5,499</h3>
                                    <p>Parts Month to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>34,386</h3>
                                    <p>Parts Year to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>$439,107</h3>
                                    <p>Earnings to Date</p>
                                </div>
                                <div class="panel-text">
                                    <h3>5,072</h3>
                                    <p>Prior Month Total Parts Sold</p>
                                </div>
                            </div>
                            <div class="col-xs-6"><img src="app/resources/images/panel7.png" class="img-responsive widget-block">
                                <label class="pull-right visit-site"><a href="http://uat.imperialmarketing.com/FCA_Rewards_Dashboard/david.html#">Visit Program Site <span><i class="glyphicon glyphicon-chevron-right"></i></span></a></label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img class="col-xs-4 no-gutter" src="app/resources/images/ph10.png" style="width: 10%">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="panel-captcha">Winning Lifestyles</label>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="panel-text">
                                    <h3>1,400</h3>
                                    <p>Dealers Enrolled</p>
                                </div>
                                <div class="panel-text">
                                    <h3>Level 1: 125</h3>
                                    <h3>Level 2: 250</h3>
                                    <p>Projected Trip Winners</p>
                                </div>
                                <div class="panel-text">
                                    <h3>500</h3>
                                    <p>Projected Excellence Card Winners</p>
                                </div>                                
                            </div>
                            <div class="col-xs-6"><img src="app/resources/images/panel15.png" class="img-responsive widget-block">                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <app-footer>footer ... </app-footer>
        </div>
       
        
